body {
    background: #fafafa;
}

.heading {
    margin: 50px 0px 80px;
    text-align: center;
}

.heading .btn {
    border-radius: 15px;
    margin-bottom: 10px;
}

.heading h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 30px;
}

.food-list {
    margin-bottom: 30px;
}

.food-item {
    border: 1.5px solid #ddd;
    border-radius: 10px;
    padding-top: 15px;
    background-color: #fff;
    margin-bottom: 45px;
}

.food-item img {
    margin-bottom: 15px;
}

.food-item h2 {
    margin-top: 0px;
}